body{
  background-color: #A5D6F4;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #243151;
  line-height: 1.5;
  height: 100%;
}

header, h1{
  font-size: 40px;
  margin: 15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header h1{
  font-family: 'Vibur', cursive;
  font-size: 50px;
}

footer{
  background: #243151;
  color: #a5d6f4;
  text-align: center;
  margin-top: 15px;
}
h1 {
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-size: 30px;
}

.nav a{
  margin: 10px;
  line-height: 1.5;
  color: #243151;
}

.nav .active{
  background: #243151;
  color: #a5d6f4;
}

nav a:hover{
  text-decoration: underline;
}

nav a:focus{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px      /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

/* contact form style */
.bigicon {
    font-size: 25px;
    color: #2A3132;
    padding-left:2%;
}
form div{
    display:inline-block;
    width: 90%;
}
button.btn{             /*Why couldn't I just use button?*/
    display: block;
    margin: 0 auto;
}
/* end form style */

/* parallax image */
/* code modified from https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax {
  color: white;
  font-family: 'Vibur', cursive;
  font-size: 30vw;
  /* The image used */
  background-image: url('../images/craterlake.jpg');

  /* Full height */
  height: 100vw;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
